:root {
    --primary: #6209DB;
    --dark: #000000;
    --light: #ffffff;
    --grey: #f5f5f5;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary-1 {
    background-color: #EEEEEE;
    color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--light);
    border-color: var(--primary);
    color: var(--primary);
}

.btn-light {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--primary);
}

.text-punto {
    color: var(--primary);
}

.text-bg-primary {
    background-color: var(--light);
}

.text-text {
    color: var(--primary);
}

.badge {
    background-color: var(--primary);
    color: var(--light);
}

.card {
    border-radius: 10px;
    border-color: #EEEEEE;
    background-color: #EEEEEE;
}

.card-1 {
    border-radius: 0px;
    border-color: var(--primary);
    background-color: var(--primary);
}

.card-title {
    color: var(--light);
}

.card-title-1 {
    color: #000000;
}

.card-text-1 {
    color: var(--light);
}

